.login-page-bg {
  min-height: 100vh;
  width: 100vw;
  background: url('../assets/main_bg.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  width: 800px;
  min-height: 420px;
  background: rgba(255,255,255,0.97);
  border-radius: 6px;
  box-shadow: 0 4px 32px rgba(153, 49, 49, 0.12);
  overflow: hidden;
}

.login-left, .login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 32px;
}

.login-left {
  background: rgba(255,255,255,0.97);
}

.login-left h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
}

.login-left label {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #5d5d5d;
}

.login-left input {
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 12px 10px;
  font-size: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: none;
}

.login-btn {
  margin-top: 20px;
  padding: 12px 0;
  background: #1f9cf5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.login-right {
  background: rgba(13, 168, 251, 0.82);
  color: #fff;
  align-items: flex-start;
  justify-content: center;
  border-left: 1px solid #ececec;
}

.login-right h2 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  font-weight: 600;
}

.login-right p {
  margin-bottom: 28px;
  font-size: 1rem;
  color: #e0e0e0;
}

.register-btn {
  padding: 10px 26px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.register-btn:hover {
  background: #fff;
  color: #333;
}
