.operator-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .left-panel {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .right-panel {
    flex: 2;
    padding: 20px;
    background-color: #eef2ff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .custom-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .video-box {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  
  video {
    width: 100%;
    border-radius: 8px;
  }
  .alert-box {
    margin-top: 2rem;
    background-color: #fff3cd;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ffeeba;
  }
  
  .suspicious-alert {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f8d7da;
    border-left: 5px solid #721c24;
    color: #721c24;
  }
  .suspicious-row {
    background-color: #ffe6e6; /* ашық қызыл фон */
    color: #a00; /* қою қызыл жазу */
    font-weight: bold;
  }
  .danger-row {
    background-color: #ffe6e6 !important; /* жеңіл қызғылт фон */
  }