body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.form {
  max-width: 400px;
  margin: 80px auto;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  margin-bottom: 12px;
  padding: 10px;
  width: 100%;
}

button {
  padding: 10px;
  width: 100%;
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
}

button:hover {
  background-color: #2980b9;
}


.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f3f3f3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar a:hover {
  color: #007bff;
}

.sidebar button {
  margin-top: auto;
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}








.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #e6f7ff;
}


.modal {
  background: #f8f8f8;
  border: 2px solid #aaa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}


