.admin-container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .admin-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
  }
  
  .admin-content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .sidebar-link {
    color: white;
    text-decoration: none;
  }
  
  .sidebar-link:hover,
  .sidebar-link.active {
    color: #10b981; /* жасыл түс (активный) */
    font-weight: bold;
  }
  